@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-rubik);
  --font-funnel: var(--font-funnel-display);
}

@layer utilities {
  [class*="rounded"] {
    corner-shape: squircle;
  }
}
